* {
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 3px;
    height: 15vh;
    background-color: black;
}

.auth {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.auth span {
    margin: 0 4px;
    cursor: pointer;
}